@model Banco.Models.Data.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
